[Desktop Entry]
Version=0.0
Name=Browser wrapper
GenericName=Web Browser
Comment=Handle urls
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=browser %u
Icon=internet-web-browser
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=browser
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=browser --new-window %u

[Desktop Action new-private-window]
Name=New Private Window
Exec=browser -p %u
